@import '../../utils/variables';

.home {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;

  &-table {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    .table {
      background-color: $primary-color;

      thead {
        th {
          &:first-child {
            width: 60px;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;
  
          &:hover {
            background-color: $highlight-color;
          }
  
          &:active {
            background-color: $highlight-color-dark;
          }
        }
      }
    }

    .table-skeleton {
      height: 528px;
      background-color: $primary-color;
    }

    .pagination {
      margin-top: 20px;
    }
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
