@import './utils/variables';

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  color: $secondary-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
